/venv/lib/python3.6/site-packages/packaging/__about__.py
/venv/lib/python3.6/site-packages/_pytest/_code/__init__.py
/venv/lib/python3.6/site-packages/_pytest/_io/__init__.py
/venv/lib/python3.6/site-packages/_pytest/assertion/__init__.py
/venv/lib/python3.6/site-packages/_pytest/config/__init__.py
/venv/lib/python3.6/site-packages/_pytest/mark/__init__.py
/venv/lib/python3.6/site-packages/_pytest/__init__.py
/venv/lib/python3.6/site-packages/attr/__init__.py
/venv/lib/python3.6/site-packages/html5lib/_trie/__init__.py
/venv/lib/python3.6/site-packages/html5lib/filters/__init__.py
/venv/lib/python3.6/site-packages/html5lib/treeadapters/__init__.py
/venv/lib/python3.6/site-packages/html5lib/treebuilders/__init__.py
/venv/lib/python3.6/site-packages/html5lib/treewalkers/__init__.py
/venv/lib/python3.6/site-packages/html5lib/__init__.py
/venv/lib/python3.6/site-packages/importlib_metadata/docs/__init__.py
/venv/lib/python3.6/site-packages/importlib_metadata/tests/data/__init__.py
/venv/lib/python3.6/site-packages/importlib_metadata/tests/__init__.py
/venv/lib/python3.6/site-packages/importlib_metadata/__init__.py
/venv/lib/python3.6/site-packages/more_itertools/__init__.py
/venv/lib/python3.6/site-packages/packaging/__init__.py
/venv/lib/python3.6/site-packages/pluggy/__init__.py
/venv/lib/python3.6/site-packages/py/_code/__init__.py
/venv/lib/python3.6/site-packages/py/_io/__init__.py
/venv/lib/python3.6/site-packages/py/_log/__init__.py
/venv/lib/python3.6/site-packages/py/_path/__init__.py
/venv/lib/python3.6/site-packages/py/_process/__init__.py
/venv/lib/python3.6/site-packages/py/_vendored_packages/__init__.py
/venv/lib/python3.6/site-packages/py/__init__.py
/venv/lib/python3.6/site-packages/pytest/__init__.py
/venv/lib/python3.6/site-packages/wcwidth/tests/__init__.py
/venv/lib/python3.6/site-packages/wcwidth/__init__.py
/venv/lib/python3.6/site-packages/webencodings/__init__.py
/venv/lib/python3.6/site-packages/attr/__init__.pyi
/venv/lib/python3.6/site-packages/more_itertools/__init__.pyi
/venv/lib/python3.6/site-packages/pytest/__main__.py
/venv/lib/python3.6/site-packages/py/__metainfo.py
/venv/lib/python3.6/site-packages/_pytest/_argcomplete.py
/venv/lib/python3.6/site-packages/py/_code/_assertionnew.py
/venv/lib/python3.6/site-packages/py/_code/_assertionold.py
/venv/lib/python3.6/site-packages/html5lib/_trie/_base.py
/venv/lib/python3.6/site-packages/py/_builtin.py
/venv/lib/python3.6/site-packages/attr/_compat.py
/venv/lib/python3.6/site-packages/importlib_metadata/_compat.py
/venv/lib/python3.6/site-packages/packaging/_compat.py
/venv/lib/python3.6/site-packages/attr/_config.py
/venv/lib/python3.6/site-packages/py/_error.py
/venv/lib/python3.6/site-packages/attr/_funcs.py
/venv/lib/python3.6/site-packages/html5lib/_ihatexml.py
/venv/lib/python3.6/site-packages/html5lib/_inputstream.py
/venv/lib/python3.6/site-packages/attr/_make.py
/venv/lib/python3.6/site-packages/py/_code/_py2traceback.py
/venv/lib/python3.6/site-packages/py/_std.py
/venv/lib/python3.6/site-packages/packaging/_structures.py
/venv/lib/python3.6/site-packages/html5lib/_tokenizer.py
/venv/lib/python3.6/site-packages/pluggy/_tracing.py
/venv/lib/python3.6/site-packages/packaging/_typing.py
/venv/lib/python3.6/site-packages/html5lib/_utils.py
/venv/lib/python3.6/site-packages/_pytest/_version.py
/venv/lib/python3.6/site-packages/pluggy/_version.py
/venv/lib/python3.6/site-packages/py/_version.py
/venv/lib/python3.6/site-packages/attr/_version_info.py
/venv/lib/python3.6/site-packages/attr/_version_info.pyi
/venv/lib/python3.6/site-packages/py/_xmlgen.py
/venv/lib/python3.6/site-packages/html5lib/filters/alphabeticalattributes.py
/venv/lib/python3.6/site-packages/py/_vendored_packages/apipkg.py
/venv/lib/python3.6/site-packages/_pytest/config/argparsing.py
/venv/lib/python3.6/site-packages/py/_code/assertion.py
/venv/lib/python3.6/site-packages/pytest-5.4.1.dist-info/AUTHORS
/venv/lib/python3.6/site-packages/html5lib/filters/base.py
/venv/lib/python3.6/site-packages/html5lib/treebuilders/base.py
/venv/lib/python3.6/site-packages/html5lib/treewalkers/base.py
/venv/lib/python3.6/site-packages/_pytest/cacheprovider.py
/venv/lib/python3.6/site-packages/py/_path/cacheutil.py
/venv/lib/python3.6/site-packages/pluggy/callers.py
/venv/lib/python3.6/site-packages/_pytest/capture.py
/venv/lib/python3.6/site-packages/py/_io/capture.py
/venv/lib/python3.6/site-packages/importlib_metadata/docs/changelog.rst
/venv/lib/python3.6/site-packages/py/_process/cmdexec.py
/venv/lib/python3.6/site-packages/_pytest/_code/code.py
/venv/lib/python3.6/site-packages/py/_code/code.py
/venv/lib/python3.6/site-packages/py/_path/common.py
/venv/lib/python3.6/site-packages/_pytest/compat.py
/venv/lib/python3.6/site-packages/importlib_metadata/docs/conf.py
/venv/lib/python3.6/site-packages/html5lib/constants.py
/venv/lib/python3.6/site-packages/attr/converters.py
/venv/lib/python3.6/site-packages/attr/converters.pyi
/venv/lib/python3.6/site-packages/html5lib/_trie/datrie.py
/venv/lib/python3.6/site-packages/_pytest/debugging.py
/venv/lib/python3.6/site-packages/_pytest/deprecated.py
/venv/lib/python3.6/site-packages/html5lib-1.0.1.dist-info/DESCRIPTION.rst
/venv/lib/python3.6/site-packages/webencodings-0.5.1.dist-info/DESCRIPTION.rst
/venv/lib/python3.6/site-packages/_pytest/doctest.py
/venv/lib/python3.6/site-packages/html5lib/treebuilders/dom.py
/venv/lib/python3.6/site-packages/html5lib/treewalkers/dom.py
/venv/lib/python3.6/site-packages/pytest-5.4.1.dist-info/entry_points.txt
/venv/lib/python3.6/site-packages/html5lib/treebuilders/etree.py
/venv/lib/python3.6/site-packages/html5lib/treewalkers/etree.py
/venv/lib/python3.6/site-packages/html5lib/treebuilders/etree_lxml.py
/venv/lib/python3.6/site-packages/html5lib/treewalkers/etree_lxml.py
/venv/lib/python3.6/site-packages/_pytest/mark/evaluate.py
/venv/lib/python3.6/site-packages/importlib_metadata/tests/data/example-21.12-py3.6.egg
/venv/lib/python3.6/site-packages/importlib_metadata/tests/data/example-21.12-py3-none-any.whl
/venv/lib/python3.6/site-packages/_pytest/config/exceptions.py
/venv/lib/python3.6/site-packages/attr/exceptions.py
/venv/lib/python3.6/site-packages/attr/exceptions.pyi
/venv/lib/python3.6/site-packages/_pytest/faulthandler.py
/venv/lib/python3.6/site-packages/attr/filters.py
/venv/lib/python3.6/site-packages/attr/filters.pyi
/venv/lib/python3.6/site-packages/_pytest/config/findpaths.py
/venv/lib/python3.6/site-packages/_pytest/fixtures.py
/venv/lib/python3.6/site-packages/importlib_metadata/tests/fixtures.py
/venv/lib/python3.6/site-packages/py/_process/forkedfunc.py
/venv/lib/python3.6/site-packages/_pytest/freeze_support.py
/venv/lib/python3.6/site-packages/html5lib/treeadapters/genshi.py
/venv/lib/python3.6/site-packages/html5lib/treewalkers/genshi.py
/venv/lib/python3.6/site-packages/_pytest/helpconfig.py
/venv/lib/python3.6/site-packages/pluggy/hooks.py
/venv/lib/python3.6/site-packages/_pytest/hookspec.py
/venv/lib/python3.6/site-packages/html5lib/html5parser.py
/venv/lib/python3.6/site-packages/importlib_metadata/docs/index.rst
/venv/lib/python3.6/site-packages/py/_vendored_packages/iniconfig.py
/venv/lib/python3.6/site-packages/html5lib/filters/inject_meta_charset.py
/venv/lib/python3.6/site-packages/attrs-19.3.0.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/html5lib-1.0.1.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/importlib_metadata-1.6.0.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/more_itertools-8.2.0.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/packaging-20.3.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/pluggy-0.13.1.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/py-1.8.1.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/pyparsing-2.4.7.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/pytest-5.4.1.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/six-1.14.0.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/wcwidth-0.1.9.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/webencodings-0.5.1.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/zipp-3.1.0.dist-info/INSTALLER
/venv/lib/python3.6/site-packages/_pytest/junitxml.py
/venv/lib/python3.6/site-packages/py/_process/killproc.py
/venv/lib/python3.6/site-packages/webencodings/labels.py
/venv/lib/python3.6/site-packages/_pytest/mark/legacy.py
/venv/lib/python3.6/site-packages/attrs-19.3.0.dist-info/LICENSE
/venv/lib/python3.6/site-packages/importlib_metadata-1.6.0.dist-info/LICENSE
/venv/lib/python3.6/site-packages/more_itertools-8.2.0.dist-info/LICENSE
/venv/lib/python3.6/site-packages/packaging-20.3.dist-info/LICENSE
/venv/lib/python3.6/site-packages/pluggy-0.13.1.dist-info/LICENSE
/venv/lib/python3.6/site-packages/py-1.8.1.dist-info/LICENSE
/venv/lib/python3.6/site-packages/pyparsing-2.4.7.dist-info/LICENSE
/venv/lib/python3.6/site-packages/pytest-5.4.1.dist-info/LICENSE
/venv/lib/python3.6/site-packages/six-1.14.0.dist-info/LICENSE
/venv/lib/python3.6/site-packages/zipp-3.1.0.dist-info/LICENSE
/venv/lib/python3.6/site-packages/packaging-20.3.dist-info/LICENSE.APACHE
/venv/lib/python3.6/site-packages/packaging-20.3.dist-info/LICENSE.BSD
/venv/lib/python3.6/site-packages/html5lib-1.0.1.dist-info/LICENSE.txt
/venv/lib/python3.6/site-packages/wcwidth-0.1.9.dist-info/LICENSE.txt
/venv/lib/python3.6/site-packages/html5lib/filters/lint.py
/venv/lib/python3.6/site-packages/py/_path/local.py
/venv/lib/python3.6/site-packages/py/_log/log.py
/venv/lib/python3.6/site-packages/_pytest/logging.py
/venv/lib/python3.6/site-packages/_pytest/main.py
/venv/lib/python3.6/site-packages/pluggy/manager.py
/venv/lib/python3.6/site-packages/packaging/markers.py
/venv/lib/python3.6/site-packages/attrs-19.3.0.dist-info/METADATA
/venv/lib/python3.6/site-packages/html5lib-1.0.1.dist-info/METADATA
/venv/lib/python3.6/site-packages/importlib_metadata-1.6.0.dist-info/METADATA
/venv/lib/python3.6/site-packages/more_itertools-8.2.0.dist-info/METADATA
/venv/lib/python3.6/site-packages/packaging-20.3.dist-info/METADATA
/venv/lib/python3.6/site-packages/pluggy-0.13.1.dist-info/METADATA
/venv/lib/python3.6/site-packages/py-1.8.1.dist-info/METADATA
/venv/lib/python3.6/site-packages/pyparsing-2.4.7.dist-info/METADATA
/venv/lib/python3.6/site-packages/pytest-5.4.1.dist-info/METADATA
/venv/lib/python3.6/site-packages/six-1.14.0.dist-info/METADATA
/venv/lib/python3.6/site-packages/wcwidth-0.1.9.dist-info/METADATA
/venv/lib/python3.6/site-packages/webencodings-0.5.1.dist-info/METADATA
/venv/lib/python3.6/site-packages/zipp-3.1.0.dist-info/METADATA
/venv/lib/python3.6/site-packages/html5lib-1.0.1.dist-info/metadata.json
/venv/lib/python3.6/site-packages/webencodings-0.5.1.dist-info/metadata.json
/venv/lib/python3.6/site-packages/webencodings/mklabels.py
/venv/lib/python3.6/site-packages/_pytest/monkeypatch.py
/venv/lib/python3.6/site-packages/more_itertools/more.py
/venv/lib/python3.6/site-packages/more_itertools/more.pyi
/venv/lib/python3.6/site-packages/_pytest/nodes.py
/venv/lib/python3.6/site-packages/_pytest/nose.py
/venv/lib/python3.6/site-packages/html5lib/filters/optionaltags.py
/venv/lib/python3.6/site-packages/_pytest/outcomes.py
/venv/lib/python3.6/site-packages/_pytest/pastebin.py
/venv/lib/python3.6/site-packages/_pytest/pathlib.py
/venv/lib/python3.6/site-packages/html5lib/_trie/py.py
/venv/bin/py.test
/venv/lib/python3.6/site-packages/attr/py.typed
/venv/lib/python3.6/site-packages/more_itertools/py.typed
/venv/lib/python3.6/site-packages/packaging/py.typed
/venv/lib/python3.6/site-packages/pyparsing.py
/venv/bin/pytest
/venv/lib/python3.6/site-packages/_pytest/pytester.py
/venv/lib/python3.6/site-packages/_pytest/python.py
/venv/lib/python3.6/site-packages/_pytest/python_api.py
/venv/lib/python3.6/site-packages/more_itertools/recipes.py
/venv/lib/python3.6/site-packages/more_itertools/recipes.pyi
/venv/lib/python3.6/site-packages/attrs-19.3.0.dist-info/RECORD
/venv/lib/python3.6/site-packages/html5lib-1.0.1.dist-info/RECORD
/venv/lib/python3.6/site-packages/importlib_metadata-1.6.0.dist-info/RECORD
/venv/lib/python3.6/site-packages/more_itertools-8.2.0.dist-info/RECORD
/venv/lib/python3.6/site-packages/packaging-20.3.dist-info/RECORD
/venv/lib/python3.6/site-packages/pluggy-0.13.1.dist-info/RECORD
/venv/lib/python3.6/site-packages/py-1.8.1.dist-info/RECORD
/venv/lib/python3.6/site-packages/pyparsing-2.4.7.dist-info/RECORD
/venv/lib/python3.6/site-packages/pytest-5.4.1.dist-info/RECORD
/venv/lib/python3.6/site-packages/six-1.14.0.dist-info/RECORD
/venv/lib/python3.6/site-packages/wcwidth-0.1.9.dist-info/RECORD
/venv/lib/python3.6/site-packages/webencodings-0.5.1.dist-info/RECORD
/venv/lib/python3.6/site-packages/zipp-3.1.0.dist-info/RECORD
/venv/lib/python3.6/site-packages/_pytest/recwarn.py
/venv/lib/python3.6/site-packages/_pytest/reports.py
/venv/lib/python3.6/site-packages/packaging/requirements.py
/venv/lib/python3.6/site-packages/_pytest/resultlog.py
/venv/lib/python3.6/site-packages/_pytest/assertion/rewrite.py
/venv/lib/python3.6/site-packages/_pytest/runner.py
/venv/lib/python3.6/site-packages/_pytest/_io/saferepr.py
/venv/lib/python3.6/site-packages/py/_io/saferepr.py
/venv/lib/python3.6/site-packages/html5lib/filters/sanitizer.py
/venv/lib/python3.6/site-packages/html5lib/treeadapters/sax.py
/venv/lib/python3.6/site-packages/html5lib/serializer.py
/venv/lib/python3.6/site-packages/_pytest/setuponly.py
/venv/lib/python3.6/site-packages/_pytest/setupplan.py
/venv/lib/python3.6/site-packages/six.py
/venv/lib/python3.6/site-packages/_pytest/skipping.py
/venv/lib/python3.6/site-packages/_pytest/_code/source.py
/venv/lib/python3.6/site-packages/py/_code/source.py
/venv/lib/python3.6/site-packages/packaging/specifiers.py
/venv/lib/python3.6/site-packages/_pytest/stepwise.py
/venv/lib/python3.6/site-packages/_pytest/store.py
/venv/lib/python3.6/site-packages/_pytest/mark/structures.py
/venv/lib/python3.6/site-packages/py/_path/svnurl.py
/venv/lib/python3.6/site-packages/py/_path/svnwc.py
/venv/lib/python3.6/site-packages/wcwidth/table_wide.py
/venv/lib/python3.6/site-packages/wcwidth/table_zero.py
/venv/lib/python3.6/site-packages/packaging/tags.py
/venv/lib/python3.6/site-packages/_pytest/terminal.py
/venv/lib/python3.6/site-packages/py/_io/terminalwriter.py
/venv/lib/python3.6/site-packages/py/test.py
/venv/lib/python3.6/site-packages/importlib_metadata/tests/test_api.py
/venv/lib/python3.6/site-packages/wcwidth/tests/test_core.py
/venv/lib/python3.6/site-packages/importlib_metadata/tests/test_integration.py
/venv/lib/python3.6/site-packages/importlib_metadata/tests/test_main.py
/venv/lib/python3.6/site-packages/importlib_metadata/tests/test_zip.py
/venv/lib/python3.6/site-packages/webencodings/tests.py
/venv/lib/python3.6/site-packages/_pytest/tmpdir.py
/venv/lib/python3.6/site-packages/attrs-19.3.0.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/html5lib-1.0.1.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/importlib_metadata-1.6.0.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/more_itertools-8.2.0.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/packaging-20.3.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/pluggy-0.13.1.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/py-1.8.1.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/pyparsing-2.4.7.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/pytest-5.4.1.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/six-1.14.0.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/wcwidth-0.1.9.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/webencodings-0.5.1.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/zipp-3.1.0.dist-info/top_level.txt
/venv/lib/python3.6/site-packages/_pytest/assertion/truncate.py
/venv/lib/python3.6/site-packages/_pytest/unittest.py
/venv/lib/python3.6/site-packages/importlib_metadata/docs/using.rst
/venv/lib/python3.6/site-packages/_pytest/assertion/util.py
/venv/lib/python3.6/site-packages/packaging/utils.py
/venv/lib/python3.6/site-packages/attr/validators.py
/venv/lib/python3.6/site-packages/attr/validators.pyi
/venv/lib/python3.6/site-packages/packaging/version.py
/venv/lib/python3.6/site-packages/py/_log/warning.py
/venv/lib/python3.6/site-packages/_pytest/warning_types.py
/venv/lib/python3.6/site-packages/_pytest/warnings.py
/venv/lib/python3.6/site-packages/wcwidth/wcwidth.py
/venv/lib/python3.6/site-packages/attrs-19.3.0.dist-info/WHEEL
/venv/lib/python3.6/site-packages/html5lib-1.0.1.dist-info/WHEEL
/venv/lib/python3.6/site-packages/importlib_metadata-1.6.0.dist-info/WHEEL
/venv/lib/python3.6/site-packages/more_itertools-8.2.0.dist-info/WHEEL
/venv/lib/python3.6/site-packages/packaging-20.3.dist-info/WHEEL
/venv/lib/python3.6/site-packages/pluggy-0.13.1.dist-info/WHEEL
/venv/lib/python3.6/site-packages/py-1.8.1.dist-info/WHEEL
/venv/lib/python3.6/site-packages/pyparsing-2.4.7.dist-info/WHEEL
/venv/lib/python3.6/site-packages/pytest-5.4.1.dist-info/WHEEL
/venv/lib/python3.6/site-packages/six-1.14.0.dist-info/WHEEL
/venv/lib/python3.6/site-packages/wcwidth-0.1.9.dist-info/WHEEL
/venv/lib/python3.6/site-packages/webencodings-0.5.1.dist-info/WHEEL
/venv/lib/python3.6/site-packages/zipp-3.1.0.dist-info/WHEEL
/venv/lib/python3.6/site-packages/html5lib/filters/whitespace.py
/venv/lib/python3.6/site-packages/webencodings/x_user_defined.py
/venv/lib/python3.6/site-packages/wcwidth-0.1.9.dist-info/zip-safe
/venv/lib/python3.6/site-packages/zipp.py
/words.db
